@model IEnumerable<GeoDetectorMvcApp.Models.CombinedModel>
<table class="table table-striped">
    <tr>
        <td>GeoLocation</td>
        <td>Longitude</td>
        <td>Latitude</td>
        <td>CloudType</td>
        <td>SunPersantage</td>
        <td>RainPersantage</td>
        <td>Temperature</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.GeoLocation</td>
            <td>@item.Longitude</td>
            <td>@item.Latitude</td>
            <td>@item.CloudType</td>
            <td>@item.SunPersantage</td>
            <td>@item.RainPersantage</td>
            <td>@item.Temperature</td>
        </tr>
    }
</table>