@model IEnumerable<GeoDetectorWebApi.Model.GeoModel>
 
<h2>List of geo data</h2>

<form asp-controller="Geo" asp-action="GeoIndex">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<p><a asp-action="Create">Add Geo Data</a></p>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Name</th>
    </tr>
    

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Longitude</td>
            <td>@item.Latitude</td>
            <td>@item.Name</td>
            <td>
                <a asp-action="Edit" asp-controller="Geo" asp-route-id="@item.Id">Update</a>
            </td>
            <td>
                <a asp-action="Delete" asp-controller="Geo" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>


